# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules

# Ignore all .next files
frontend/synswap/.next/

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache

